<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Add</title>
	<style>
		body {
			background-color: pink;
		     }
	</style>
</head>

<body>
	<table border="2">
		<tr>
			<td>
				<form action="employee-insert" method="post">
					<tr>
						<td><label>Employee Name</label></td>
						<td><input type="text" required name="employeeName" /><br></td>
					</tr>
					<tr>
						<td><label>Employee Address</label></td>
						<td><input type="text" required name="employeeAddress" /><br></td>
					</tr>
					<tr>
						<td><label>Employee Phone</label></td>
						<td><input type="number" required name="employeePhone" /><br></td>
					</tr>
					<tr>
						<td><label>Employee Salary</label></td>
						<td><input type="number" required name="employeeSalary" /><br></td>
					</tr>
					<tr>
						<td><button type="submit">Save</button></td>
						<td><button type="reset">Reset</button></td>
					</tr>
				</form>
			</td>
		</tr>
	</table>
</body>

</html>