<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Update</title>
	<style>
		body
		{
			background-color: pink;	
		}
	</style>
</head>

<body>
	<table border="2">
		<tr>
			<td>
				<form action="updated" method="post">
					<tr>
						<td><label>Id</label></td>
						<td><input type="number" request readonly name="id" th:value="${employees.id}"/><br></td>
					</tr>
					<tr>
						<td><label>Employee Name</label></td>
						<td><input type="text" required name="employeeName" th:value="${employees.employeeName}"/><br></td>
					</tr>
					<tr>
						<td><label>Employee Address</label></td>
						<td><input type="text" required name="employeeAddress" th:value="${employees.employeeAddress}"/><br></td>
					</tr>
					<tr>
						<td><label>Employee Phone</label></td>
						<td><input type="number" required name="employeePhone" th:value="${employees.employeePhone}"/><br></td>
					</tr>
					<tr>
						<td><label>Employee Salary</label></td>
						<td><input type="number" required name="employeeSalary" th:value="${employees.employeeSalary}"/><br></td>
					</tr>
					<tr>
						<td><button type="submit">Update</button></td>
					</tr>
				</form>
			</td>
		</tr>
	</table>

</body>

</html>